@using Arysoft.WebsiteMVC.Basico.Models;
@using Arysoft.WebsiteMVC.Basico.Areas.Admin.Models;
@using PagedList.Mvc;

@model PagedList.IPagedList<PaginaIndexListViewModel>

@{
    ViewBag.Title = "Paginas";
}

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" id="details-modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Pagina</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="details-modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">...</button>
            </div>
        </div> <!-- modal-content -->
    </div>
</div>

<h2>Paginas</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Index", "Paginas", FormMethod.Get, new { @class = "form-inline mb-2" }))
        {
            @Html.Raw(
                Html.ActionLink("[nuevo]", "Create", null, new { @class = "btn btn-outline-primary mr-3", @title = "Nueva pagina" }).ToHtmlString()
                    .Replace("[nuevo]", "<i class='bi-file-earmark-fill'></i>")
            )
            <label class="sr-only" for="">Buscar</label>
            @Html.TextBox("buscar", ViewBag.Filtro as string, htmlAttributes: new { @class = "form-control mr-sm-2", @placeholder = "buscar..." })
            <button type="submit" id="buscarButton" class="btn btn-primary" title="Buscar...">
                <i class="bi-search"></i>
            </button>
        }
        <div class="alert alert-secondary" role="alert">
            Total de resultados en la consulta: @ViewBag.Count
        </div>
    </div>
</div>
@Html.PagedListPager(Model, pagina => Url.Action("Index", new
    {
        pagina,
        orden = ViewBag.Orden,
        filtro = ViewBag.Filtro
    })
)


<div class="table-responsive">
    <table class="table table-hover">
        <tr>

            <th>
                Titulo
            </th>
            <th>
                Etiqueta
            </th>
            <th>
                Resumen
            </th>

            <th>
                Visible
            </th>
            <th>
                Url
            </th>
            <th>
                Target
            </th>
            <th>
                Galeria
            </th>
            <th>
                Visitas
            </th>
            <th>
                Idioma
            </th>
            <th>
                Principal
            </th>
            <th>
                Me gusta
            </th>
            <th>
                Status
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EtiquetaMenu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resumen)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Visible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TargetUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Target)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TieneGaleria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContadorVisitas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idioma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EsPrincipal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeGusta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PaginaID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PaginaID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PaginaID })
                </td>
            </tr>
        }

    </table>
</div>