@model PagedList.IPagedList<Arysoft.WebsiteMVC.Basico.Models.Noticia>

@using PagedList.Mvc;
@using Arysoft.WebsiteMVC.Basico.Models;

@{
    ViewBag.Title = "Noticias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Noticias</h2>

<ul class="nav nav-pills">
    <li>
        @Html.ActionLink("Nueva noticia", "Create")
    </li>
</ul>

@using (Html.BeginForm("Index", "Noticia", FormMethod.Get))
{
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-md-10">
            <div class="form-inline">
                <div class="form-group">
                    <label for="buscar" class="sr-only">Buscar</label>
                    @Html.TextBox("buscar", ViewBag.Filtro as string, htmlAttributes: new { @class = "form-control", @placeHolder = "Buscar...", @title = "Introduzca el texto a buscar o inserte una fecha dd/mm/aaaa para un rango de busquda por fecha." })
                </div>

                <div class="form-group">
                    <label for="fechaRango" class="sr-only">Periodo de tiempo</label>
                    <select id="fechaRango" name="fechaRango" class="form-control">
                        <option value="0" @(ViewBag.FechaRango == "0" ? "selected" : "")>(cualquier fecha)</option>
                        <option value="1" @(ViewBag.FechaRango == "1" ? "selected" : "")>Día</option>
                        <option value="2" @(ViewBag.FechaRango == "2" ? "selected" : "")>Semana</option>
                        <option value="3" @(ViewBag.FechaRango == "3" ? "selected" : "")>Mes</option>
                        <option value="4" @(ViewBag.FechaRango == "4" ? "selected" : "")>Año</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="estatus" class="sr-only">Estatus</label>
                    <select id="estatus" name="estatus" class="form-control">
                        <option value="Ninguno" @(ViewBag.Estatus == "Ninguno" ? "selected" : "")>(estatus)</option>
                        <option value="Nueva" @(ViewBag.Estatus == "Nueva" ? "selected" : "")>Nueva</option>
                        <option value="Publicada" @(ViewBag.Estatus == "Publicada" ? "selected" : "")>Publicada</option>
                        <option value="Oculta" @(ViewBag.Estatus == "Oculta" ? "selected" : "")>Oculta</option>
                        <option value="Eliminada" @(ViewBag.Estatus == "Eliminada" ? "selected" : "")>Eliminada</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span>
                    Buscar
                </button>
                @Html.Raw(
                    @Html.ActionLink("Limpiar", "Index", null, new { @class = "btn btn-default" }).ToHtmlString()
                    .Replace("Limpiar", "<span class=\"glyphicon glyphicon-remove\" style=\"font-size: 14px;\" title=\"Limpiar\"></span>")
                )                
            </div>
        </div>
        <div class="col-md-2 text-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ordenar por <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Título", "Index", new { orden = ViewBag.OrdenTitulo, filtro = ViewBag.Filtro, fechaRango = ViewBag.FechaRango, estatus = ViewBag.Estatus, pagina = Model.PageNumber })</li>
                    <li>@Html.ActionLink("Fecha", "Index", new { orden = ViewBag.OrdenFecha, filtro = ViewBag.Filtro, fechaRango = ViewBag.FechaRango, estatus = ViewBag.Estatus, pagina = Model.PageNumber })</li>
                    <li>@Html.ActionLink("Estatus", "Index", new { orden = ViewBag.OrdenEstatus, filtro = ViewBag.Filtro, fechaRango = ViewBag.FechaRango, estatus = ViewBag.Estatus, pagina = Model.PageNumber })</li>
                </ul>
            </div>
        </div>
    </div>
}

<div class="well well-sm">Total de registros en la consulta: @ViewBag.Contar</div>

@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina,
    orden = ViewBag.Orden,
    filtro = ViewBag.Filtro,
    fechaRango = ViewBag.FechaRango,
    estatus = ViewBag.Estatus }))

@*<div class="table table-responsive">
    <table class="table table-hover">
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>    
                        <div class="col-md-2">
                            <div style="background: #ccc url('../../../../Archivos/Noticias/leelee sobieski.jpg') center no-repeat; background-size: cover; height: 82px; width: 100%;"></div>
                        </div>
                        <div class="col-md-7">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span class="glyphicon glyphicon-paperclip"></span>
                            <span class="glyphicon glyphicon-comment"></span>
                            <h3 class="header-list"><a href="@Url.Action("Details", new { id = item.NoticiaID })">@item.Titulo</a></h3>
                            <p>@item.Resumen</p>
                        </div>
                                <div class="col-md-3">
                                    <p class="text-right">
                                        @if (item.Estatus != NoticiaEstatus.Eliminada)
                {
                                            @Html.Raw(
                        @Html.ActionLink("Editar", "Edit", new { id = item.NoticiaID }).ToHtmlString()
                            .Replace("Editar", "<span class=\"glyphicon glyphicon-edit\" style=\"font-size: 18px;\" title=\"Editar\"></span>")
                             )
                                        }
                                        @Html.Raw(
                        @Html.ActionLink("Detalles", "Details", new { id = item.NoticiaID }).ToHtmlString()
                            .Replace("Detalles", "<span class=\"glyphicon glyphicon-share\" style=\"font-size: 18px;\" title=\"Detalles\"></span>")
                    )

                                        @if (ViewBag.Eliminar)
                {
                                            @Html.Raw(
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.NoticiaID }).ToHtmlString()
                            .Replace("Eliminar", "<span class=\"glyphicon glyphicon-trash\" style=\"font-size: 18px;\" title=\"Eliminar\"></span>")
                    )
                                        }
                                    </p>
                                    <div class="well well-sm">
                                        @item.FechaPublicacion.ToShortDateString()<br />
                                        @item.Autor
                                    </div>
                                </div>
                            
                        
                    </td>
                </tr>      
            }
        </tbody>
    </table>
</div>*@

<div class="table table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>                    
                    @Html.Raw(
                        @Html.ActionLink("Estatus", "Index", new { orden = ViewBag.OrdenFecha, filtro = ViewBag.Filtro, fechaRango = ViewBag.FechaRango, estatus = ViewBag.Estatus, pagina = Model.PageNumber }).ToHtmlString()
                            .Replace("Estatus", "<span class=\"glyphicon glyphicon-sort\" title=\"Ordenar por estatus\"></span>")
                    )
                </th>
                <th></th>
                <th></th>
                <th>
                    @Html.ActionLink("Título", "Index", new { orden = ViewBag.OrdenTitulo, filtro = ViewBag.Filtro, fechaRango = ViewBag.FechaRango, estatus = ViewBag.Estatus, pagina = Model.PageNumber })
                </th>
                <th>
                    Resumen
                </th>
                <th>
                    @Html.ActionLink("Publicación", "Index", new { orden = ViewBag.OrdenFecha, filtro = ViewBag.Filtro, fechaRango = ViewBag.FechaRango, estatus = ViewBag.Estatus, pagina = Model.PageNumber })
                </th>                
                <th>
                    Autor
                </th>                                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>                        
                        @switch (item.Estatus)
                        {
                            case NoticiaEstatus.Eliminada:
                                <span class="glyphicon glyphicon-trash text-danger" title="Noticia eliminada"></span>
                                break;
                            case NoticiaEstatus.Nueva:
                                <span class="glyphicon glyphicon-certificate text-info" title="Noticia nueva, aun no es publicada"></span>
                                break;
                            case NoticiaEstatus.Oculta:
                                <span class="glyphicon glyphicon-eye-close text-muted" title="Noticia oculta, no es visible al publico"></span>
                                break;
                            case NoticiaEstatus.Publicada:
                                <span class="glyphicon glyphicon-cloud-upload text-success" title="Noticia publicada"></span>
                                break;
                        }
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(item.ImagenPrincipal))
                        {
                            <span class="glyphicon glyphicon-picture text-muted" title="(sin imagen principal)"></span>
                        }
                        else
                        {
                            if (File.Exists(Path.Combine(Server.MapPath("~/Archivos/Noticias/"), item.NoticiaID.ToString(), item.ImagenPrincipal)))
                            {
                                <a href="~/Archivos/Noticias/@item.NoticiaID/@item.ImagenPrincipal" target="_blank">
                                    <span class="glyphicon glyphicon-picture" title="Ver imagen principal"></span>
                                </a>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-picture text-warning" title="(no se encontró el archivo @item.ImagenPrincipal)"></span>
                            }
                        }
                    </td>
                    <td>
                        @if (item.Archivos.Count == 0)
                        {
                            <span class="glyphicon glyphicon-paperclip text-muted" title="(sin archivos)"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-paperclip" title="Contiene @item.Archivos.Count archivo(s)"></span>
                        }                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resumen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPublicacion)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>                    
                    <td class="col-md-1 text-right">
                        @if (item.Estatus != NoticiaEstatus.Eliminada)
                        {
                            @Html.Raw(
                                  @Html.ActionLink("Editar", "Edit", new { id = item.NoticiaID }).ToHtmlString()
                                     .Replace("Editar", "<span class=\"glyphicon glyphicon-edit\" style=\"font-size: 18px;\" title=\"Editar\"></span>")
                             )
                        }
                        @Html.Raw(
                        @Html.ActionLink("Detalles", "Details", new { id = item.NoticiaID }).ToHtmlString()
                            .Replace("Detalles", "<span class=\"glyphicon glyphicon-share\" style=\"font-size: 18px;\" title=\"Detalles\"></span>")
                    )

                        @if (ViewBag.Eliminar)
                        {
                            @Html.Raw(
                                 @Html.ActionLink("Eliminar", "Delete", new { id = item.NoticiaID }).ToHtmlString()
                                     .Replace("Eliminar", "<span class=\"glyphicon glyphicon-trash\" style=\"font-size: 18px;\" title=\"Eliminar\"></span>")
                                 )
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.PagedListPager(Model, pagina => Url.Action("Index", new
{
    pagina,
    orden = ViewBag.Orden,
    filtro = ViewBag.Filtro,
    fechaRango = ViewBag.FechaRango,
    estatus = ViewBag.Estatus
}))