@model Arysoft.WebsiteMVC.Basico.Models.NoticiaDetailsViewModel

@using Arysoft.WebsiteMVC.Basico.Models;

@{
    string imagenPrincipalTag = string.Empty;
    string classStatusAlert = "alert alert-secondary";
    string classStatusIcon = "";

    if (!string.IsNullOrEmpty(Model.ImagenArchivo))
    {
        imagenPrincipalTag = "<img src='/Archivos/Noticias/" + Model.ImagenArchivo + "' class='card-img-top' alt='" + Html.DisplayNameFor(model => model.ImagenArchivo) + "' />";
    }

    switch (Model.Status)
    {
        case NoticiaStatus.Nueva:
            classStatusIcon = "<i class='bi-stars mr-1 text-warning icon' title='Nueva'></i>";
            classStatusAlert = "alert alert-warning";
            break;
        case NoticiaStatus.Publicada:
            classStatusIcon = "<i class='bi-cursor mr-1 text-primary icon' title='Publicada'></i>";
            classStatusAlert = "alert alert-success";
            break;
        case NoticiaStatus.Oculta:
            classStatusIcon = "<i class='bi-eye-slash mr-1 icon' title='Oculta'></i>";
            //classStatusAlert = "alert alert-primary";
            //classMeGustaBadge = "badge badge-secondary";
            //classVisitasBadge = "badge badge-secondary";
            break;
        case NoticiaStatus.Eliminada:
            classStatusIcon = "<i class='bi-x-circle mr-1 icon text-danger' title='Eliminada'></i>";
            classStatusAlert = "alert alert-danger";
            //classMeGustaBadge = "badge badge-danger";
            //classVisitasBadge = "badge badge-danger";
            break;
    }
}
<div class="modal-header">
    <h5 class="modal-title">Noticia</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="card shadow">
                    @Html.Raw(imagenPrincipalTag)
                    <div class="card-body">
                        <h1 class="display-4" title="@Html.DisplayNameFor(model => model.Titulo)">
                            @Html.DisplayFor(model => model.Titulo)
                        </h1>
                        <p class="lead" title="@Html.DisplayNameFor(model => model.Resumen)">
                            @Html.DisplayFor(model => model.Resumen)
                        </p>
                        <div title="@Html.DisplayNameFor(model => model.HTMLContent)">
                            @Html.Raw(Model.HTMLContent)
                        </div>
                        <p class="text-right" title="@Html.DisplayNameFor(model => model.Autor)">
                            <em>@Html.DisplayFor(model => model.Autor)</em>
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-12">
                        <div class="@classStatusAlert">
                            <h4 class="alert-heading">
                                @Html.Raw(classStatusIcon)
                                @Html.DisplayFor(model => model.Status)
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="alert alert-primary text-center">
                            <h4 class="alert-heading">
                                @Html.DisplayFor(model => model.MeGusta)
                            </h4>
                            <div class="small">
                                <i class="bi-hand-thumbs-up-fill"></i>
                                Me Gusta
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="alert alert-success text-center">
                            <h4 class="alert-heading">
                                @Html.DisplayFor(model => model.ContadorVisitas)
                            </h4>
                            <div class="small">
                                <i class="bi-eye-fill"></i>
                                Visitas
                            </div>
                        </div>
                    </div>
                </div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TieneGaleria)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TieneGaleria)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Idioma)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Idioma)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FechaPublicacion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FechaPublicacion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FechaCreacion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FechaActualizacion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FechaActualizacion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UsuarioActualizacion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UsuarioActualizacion)
                    </dd>

                </dl>
            </div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.NoticiaID }) |
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </p>
</div>
