@model PagedList.IPagedList<NoticiaIndexListViewModel>

@using Arysoft.WebsiteMVC.Basico.Models;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Noticias";
}

<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="details-modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Detalles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div> <!-- modal-content -->
    </div>
</div>

<h2>Noticias</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>
                    Título
                </th>
                <th>
                    Resumen
                </th>
                <th>
                    Autor
                </th>
                <th>
                    Visitas
                </th>
                <th>
                    Publicado
                </th>
                <th>
                    Idioma
                </th>
                <th>
                    MeGusta
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resumen)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.ContadorVisitas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idioma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaPublicacion)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.MeGusta)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.NoticiaID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.NoticiaID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.NoticiaID })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
