@model IEnumerable<Arysoft.WebsiteMVC.Basico.Models.Noticia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resumen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HTMLContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TieneGaleria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContadorVisitas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Idioma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPublicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagenArchivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeGusta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaActualizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioActualizacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resumen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HTMLContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TieneGaleria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContadorVisitas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Idioma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPublicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagenArchivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeGusta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaActualizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsuarioActualizacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoticiaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NoticiaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NoticiaID })
        </td>
    </tr>
}

</table>
